<a href="https://colab.research.google.com/github/ElaiEmylleMatos/challenge-telecom-x/blob/main/TelecomX_BR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ðŸ“Œ ExtracÃ£o

In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json

In [38]:
url = 'https://raw.githubusercontent.com/ElaiEmylleMatos/challenge-telecom-x/refs/heads/main/TelecomX_Data.json'

dados = pd.read_json(url)

dados.head()

#dados['customer'].unique()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

#ðŸ”§ TransformaÃ§Ã£o

## Desaninhando o json

In [39]:
customer = pd.json_normalize(dados['customer'])
phone = pd.json_normalize(dados['phone'])
internet = pd.json_normalize(dados['internet'])
account = pd.json_normalize(dados['account'])

df = dados.drop(['customer', 'phone', 'internet', 'account'], axis=1)

df = pd.concat([df, customer, phone, internet, account], axis=1)

df.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

## Convertendo campos

In [41]:
df.isna().sum()

customerID          0
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
Charges.Monthly     0
Charges.Total       0
dtype: int64

In [42]:
df['Charges.Total'] = pd.to_numeric(df['Charges.Total'], errors='coerce')

df['SeniorCitizen'] = df['SeniorCitizen'].astype(bool)

def toBoolean(valor):
    if valor == 'Yes':
        return True
    else:
        return False

df['Churn'] = df['Churn'].apply(toBoolean)
df['Partner'] = df['Partner'].apply(toBoolean)
df['Dependents'] = df['Dependents'].apply(toBoolean)
df['PhoneService'] = df['PhoneService'].apply(toBoolean)
df['MultipleLines'] = df['MultipleLines'].apply(toBoolean)
df['OnlineSecurity'] = df['OnlineSecurity'].apply(toBoolean)
df['OnlineBackup'] = df['OnlineBackup'].apply(toBoolean)
df['DeviceProtection'] = df['DeviceProtection'].apply(toBoolean)
df['TechSupport'] = df['TechSupport'].apply(toBoolean)
df['StreamingTV'] = df['StreamingTV'].apply(toBoolean)
df['StreamingMovies'] = df['StreamingMovies'].apply(toBoolean)
df['PaperlessBilling'] = df['PaperlessBilling'].apply(toBoolean)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   bool
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   bool
 4   Partner           7267 non-null   bool
 5   Dependents        7267 non-null   bool
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   bool
 8   MultipleLines     7267 non-null   bool
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   bool
 11  OnlineBackup      7267 non-null   bool
 12  DeviceProtection  7267 non-null   bool
 13  TechSupport       7267 non-null   bool
 14  StreamingTV       7267 non-null   bool
 15  StreamingMovies   7267 non-null   bool
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   bool
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7256 non-null   float64
dtypes: bool(13), float64(2), int64(1), object(5)
memory usage: 546.6+ KB

## Verificando valores inconsistentes

### Nan

In [48]:
df.isna().sum()

customerID           0
Churn                0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
Charges.Monthly      0
Charges.Total       11
dtype: int64

In [51]:
df.dropna(inplace=True)

In [52]:
df.isna().sum()

customerID          0
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
Charges.Monthly     0
Charges.Total       0
dtype: int64

### Valores inconsistentes

In [55]:
colunas = df.columns

for coluna in colunas:
    print(f'{coluna}: {df[coluna].unique()}')

customerID: ['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
Churn: [False  True]
gender: ['Female' 'Male']
SeniorCitizen: [False  True]
Partner: [ True False]
Dependents: [ True False]
tenure: [ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 11 37 49 66
 67 20 43 59 12 27  2 25 29 14 35 64 39 40  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 51 31 36 17 18 38 42]
PhoneService: [ True False]
MultipleLines: [False  True]
InternetService: ['DSL' 'Fiber optic' 'No']
OnlineSecurity: [False  True]
OnlineBackup: [ True False]
DeviceProtection: [False  True]
TechSupport: [ True False]
StreamingTV: [ True False]
StreamingMovies: [False  True]
Contract: ['One year' 'Month-to-month' 'Two year']
PaperlessBilling: [ True False]
PaymentMethod: ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
Charges.Monthly: [65.6  59.9  73.9  ... 91.75 68.8  67.85]
Charges.Total: [ 593.3   542.4   280.85 ...  742.9  4627.65 3707.6 ]

#ðŸ“Š Carga e anÃ¡lise

#ðŸ“„Relatorio Final